h1 {
	text-align: center;
}

html {
	padding-bottom: 400px;
	color: #282828;
}

main {
	background: #def;
	border-radius: 10px;
	padding: 1em;
      	margin-bottom: 400px;
	margin: auto;
	font-family: sans-serif;
}

form {
	text-align: center;
}

input {
	background:white;
	border: 1px solid;
	border-color: #fff;
	border-radius: 2px;
}

table {
	width: 100%;
	/* table-layout: fixed; */
	border-radius: 5px;
	background: white;
}
