{% extends "base.html" %}
{% block content %}
<form action="csv_upload" method="POST" enctype="multipart/form-data"
	style="text-align: center;">
    {% csrf_token %}
    <label for="file1"> Upload your CSV file: </label>
    <input type="file" id="file1" name="csv"
      style="border: 1px solid;border-color: #fff;border-radius: 2px;
      background:white;">
    <button type="submit">Upload</button>
</form>

<!-- Table from database -->
<table style="width: 100%; table-layout: floating;
	      border-radius: 5px; background: white;">
  <thead>
    <tr>
      <th  scope="col">Code</th>
      <th  scope="col">Name</th>
      <th  scope="col">Price</th>
      <th  scope="col">PriceSP</th>
      <th  scope="col">Quantity</th>
      <th  scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data_entries %}
      <tr>
      <td>{{ entry.code }}</td>
      <td>{{ entry.name }}</td>
      <td>{{ entry.price }}</td>
      <td>{{ entry.priceSP }}</td>
      <td>{{ entry.quantity }}</td>
      <td>{{ entry.description }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
